@font-face {
  font-family: 'TikTokFont';
  src: url(/fonts/TikTokFont-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TikTokFont';
  src: url(/fonts/TikTokFont-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TikTokFont';
  src: url(/fonts/TikTokFont-Semibold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'TikTokFont', sans-serif;
}

body {
  overflow: hidden;
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}